* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bs-primary: #409EFF;
    --bs-primary-rgb: 64, 158, 255;
    --bs-primary-text: #fff;

    --custom-dark: #303F4E;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

/* Spinner when loading the page */
.spinner {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 999;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--bs-primary);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--bs-primary) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* end Spinner*/

/* Customs */

.btn-primary {
    color: var(--bs-primary-text);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    color: var(--bs-primary-text);
    background-color: #3589e6;
    border-color: #3589e6;
}

.btn-primary:focus,
.btn-primary.focus {
    color: var(--bs-primary-text);
    background-color: #3589e6;
    border-color: #3589e6;
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: var(--bs-primary-text);
    background-color: #2f7dcf;
    border-color: #2f7dcf;
}

.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: var(--bs-primary-text);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary:hover {
    color: var(--bs-primary-text);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.show>.btn-outline-primary.dropdown-toggle {
    color: var(--bs-primary-text);
    background-color: #2f7dcf;
    border-color: #2f7dcf;
}

.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: var(--bs-primary);
    background-color: transparent;
}

.text-primary {
    color: var(--bs-primary) !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #3589e6 !important;
}

a.text-primary:active {
    color: #2f7dcf !important;
}

.el-input .el-input__clear, .el-input .el-input__password {
    font-size: 20px !important;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.custom_dark {
    color: var(--custom-dark);
}

.bg-gray-200 {
    background-color: #f8f9fa;
}

.bg-gray-800 {
    background-color: #343a40;
}

.letter-spacing {
    letter-spacing: .1em;
}

.item_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor_pointer {
    cursor: pointer;
}

.outline_none {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.custom_focus:focus {
    box-shadow: 0px 0px 3px 0px rgba(116, 166, 240, 0.788);
}

.field_invalid {
    border: 1px solid rgb(247, 69, 69);
}

input[type="checkbox"]:focus {
    box-shadow: 0px 0px 3px 0px rgba(116, 166, 240, 0.788);
}

.dropdown-menu .dropdown-item:focus, 
.dropdown-menu .dropdown-item:active {
    background-color: transparent;
    color: inherit;
    outline: none;
    box-shadow: none;
}

#spinnerLoading div {
    height: 20px;
    width: 20px;
}

.custom_placeholder::placeholder {
    color: #b1b1b1 !important;
    font-size: 14px;
}

.hover_primary:hover {
    color: var(--bs-primary) !important;
}
/* End Customs */

#loginAdmin form {
    width: 100%;
    max-width: 400px;
}

#maintenanceView img {
    width: 90%;
    max-width: 500px;
}

#publicNavComponent nav {
    box-shadow: 0 0 1rem rgba(0,0,0,.15) !important;
}

#publicNavComponent .logo_image {
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
}

#publicNavComponent .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

#publicNavComponent .logged_small {
    display: none;
}

#publicNavComponent .dropdown_logged {
    display: flex;
}

#publicNavComponent .dropdown-item:hover {
    color: var(--bs-primary) !important;
}

@media screen and (max-width: 992px) {
    #publicNavComponent  .logged_small {
        display: flex;
    }

    #publicNavComponent  .logged_large {
        display: none;
    }

    #publicNavComponent .logo_image {
        max-width: 180px;
        max-height: 180px;
    }
}

@media screen and (max-width: 576px) {
    #publicNavComponent  .fa-bars {
        font-size: 25px !important;
    }

    #publicNavComponent li {
        font-size: 18px;
    }
}

#loginPublicView {
    height: calc(100vh - 130px);
}

#loginPublicView form {
    width: 100%;
    max-width: 400px;
}

#publicFooterComponent .logoFooter {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 390px) {
    #publicFooterComponent .logoFooter {
        min-width: 200px;
        width: 100%;
    }
}

#hoveView .cover-image {
    position: relative;
    height: calc(100vh - 50px);
    background-size: cover;
}

#hoveView .cover-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 50px);
    background-color: #00000085;
}

@media screen and (max-width: 576px) {
    #hoveView .cover-image {
        height: calc(100vh - 110px);
    }

    #hoveView .cover-image::before {
        height: calc(100vh - 110px);
    }
}

#hoveView .cover-image > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#hoveView .cover-image h1 {
    font-size: clamp(40px, 8vw, 65px);
}

@media screen and (max-width: 360px) {
    #adminBarComponent .publish p {
        display: none;
    }
}

#userPanelView .user_photo, #profileView .user_photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid #ffff;
    object-fit: cover; 
}

#userPanelView .img_no_ads {
    width: 60%;
}

@media screen and (max-width: 768px){
    #userPanelView .img_no_ads {
        width: 90%;
    } 
}

#profileView .user_info_card {
    top: 60px;
}

@media screen and (max-width: 992px){
    #profileView .user_info_card {
        top: 0;
        position: relative;
    }
}

#profileView .full_name {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 280px;
}

@media screen and (max-width: 340px){
    #profileView .full_name {
        max-width: 200px;
    }
}

#profileView .list-group-item {
    border-left: 3px solid transparent;
    padding-left: 10px;
    transition: 0.2s ease;
}

#profileView .list-group-item:hover {
    color: var(--bs-primary);
}

#profileView .list-group-item i {
    width: 19px;
    margin-right: 10px;
}

#profileView .list-group-item.active {
    color: var(--bs-primary);
    background-color: transparent;
    border-left: 3px solid var(--bs-primary) !important;
}

#formResetPassword .icon_show_password {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}